<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoPrueba">

        <!-- Actividad de carga -->
        <activity
            android:name=".controller.ventanaCarga"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividades Generales-->

        <activity android:name=".controller.Login" />
        <activity android:name=".controller.categoriaProductos" />
        <activity android:name=".controller.ListarProductos" />
        <activity android:name=".controller.menuUsuario" />
        <activity android:name=".controller.menuAdmin" />
        <activity android:name=".controller.menuSuperAdmin" />
        <activity android:name=".controller.Notificaciones" />
        <activity android:name=".controller.agregarProducto" />
        <activity android:name=".controller.agregarAlertas" />
        <activity android:name=".controller.registrarPersonal" />
        <activity android:name=".controller.listarUsuarios" />
        <activity android:name=".controller.Home" />
        <activity android:name=".controller.modificarUsuario" />
        <activity android:name=".controller.modificarProducto" />
        <activity android:name=".controller.reponerProducto" />
        <activity android:name=".controller.HistorialAlertas" />
        <activity android:name=".controller.cajaRegistradora" />
        <activity android:name=".controller.Movimientos" />

    </application>
</manifest>